<div class="header">
    <div class="header_two" >
        <nav class="nav_container">
          <div class="nav_logo">
            <h2 class="nav_title">BarberApp</h2>
          </div>
          <ul class="nav_link">
            <li class="nav_items">
              <a [routerLink]="['/sign-in']"  class="nav_links"  >Iniciar sesion</a>
            </li>
            <li class="nav_items">
              <a [routerLink]="['/sign-up']" class="nav_links">Registrarse</a>
            </li>
          </ul>
        </nav>
        <section class="hero_container">
          <h1 class="hero_title">Bienvenidos A <br> <span> BarberApp </span></h1>
          <p class="hero_parrafo">
            Una Herramienta que te ayudara a crear oportunidades de generar un
            estatus entre la competencia, brindándote la capacidad de solucionar la
            acumulación de citas, los largos tiempos de espera etc. "BarberApp" por
            qué las oportunidades no pasan, las Creas
          </p>
        </section>
      </div>
</div>

