<div class="body">
    <div class="center">
        <h1>Recuperar tu contraseña</h1>
        <form method="post " >
      
          <div class="txt_field">
            <input type="password"  autocomplete="off" autofocus required >
            <span></span>
            <label for="">Nueva contraseña </label>
          </div>
     
          
          <div class="txt_field">
            <input type="password" name="constraseña" autocomplete="off" required  >
       
            <label for="">Confirme su contraseña </label>
          </div>
          <div class="container_button">
            <button [routerLink]="['/']">Envia</button>
          </div>
         
          
        </form>
      
      </div>

</div>


