<div class="body">
    <div class="center">
        <h1>Recuperar Contraseña</h1>
        <form method="post " >
      
          <div class="txt_field">
            <input type="text " name="email" autocomplete="off" autofocus required  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
            <span></span>
            <label for="">Correo</label>
          </div>
          <div class="container_button">
            <button [routerLink]="['/sign-in']">Volver</button>
            <button [routerLink]="['/']">Envia</button>
          </div>
        </form>
      
      </div>

</div>